Makefile
eu.tiliado.NuvolaAppGoogleKeep.appdata.xml
eu.tiliado.NuvolaAppGoogleKeep.data.service
eu.tiliado.NuvolaAppGoogleKeep.desktop
google_keep.tar.gz
icons
metadata.json
nuvola-app-google-keep
/screenshots/
eu.tiliado.NuvolaAppGoogleKeep.service
eu.tiliado.WebRuntimeAppGoogleKeep.appdata.xml
eu.tiliado.WebRuntimeAppGoogleKeep.desktop
eu.tiliado.WebRuntimeAppGoogleKeep.service
nuvola-app-google-keep.metainfo.xml
